@import "../../app/globals.module.scss";

.box_side_bar {
    position: fixed;
    margin-top: 90px;
    width: 365px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    align-items: center;

    background-color: $primary-color;
    border-right: 1px solid $border-color;

    // font
    font-family: $lato;
    font-weight: 500;
    color: $font-primary-color;
    font-size: 18px;
    position: fixed;

    ul {
        list-style: none;
        padding: 0;
        margin: 50px 0 50px 0;


        div {
            display: flex;
            width: 250px;
            height: 50px;
            position: relative;
            align-items: center;
            &:hover {
                background-color: #255f30;
                color: $primary-color;
                border-radius: 10px;
                box-shadow: $shadow;
            }

            li {
                position: relative;
                cursor: pointer;
                padding-left: 50px;
                
            }

            span {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.active {
    color: $active-color;
}