@import "../../app/globals.module.scss";

.box {
    height: calc(100vh - 90px);
    position: relative;
    margin-left: 365px;
    width: 500px;
    z-index: 1;
    overflow: auto;
    margin-top: 90px;
    font-family: $lato;
    font-weight: 300;

    ul {
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        height: 150px;
        background-color: #dce4ff;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;

        &:hover {
            background-color: $secondary-color;
        }
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        height: 150px;
        background-color: #dce4ff;
        font-size: 24px;
        vertical-align: middle;
        font-family: $lato;
        cursor: pointer;

        &:hover {
            background-color: $secondary-color;
        }
    }
}

.clicked {
    background-color: $secondary-color;
    font-weight: 300;
}